<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408660596655-8kpi0osdm05k0eir4qj65q05kl2vnti3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408660596655-8kpi0osdm05k0eir4qj65q05kl2vnti3</string>
	<key>API_KEY</key>
	<string>AIzaSyBDtCCLrIpF29Bvt31Qi5m5qO84MyXMKNM</string>
	<key>GCM_SENDER_ID</key>
	<string>408660596655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nk13.eShop</string>
	<key>PROJECT_ID</key>
	<string>eshop-7e241</string>
	<key>STORAGE_BUCKET</key>
	<string>eshop-7e241.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408660596655:ios:9ebcb4843bb2b1771c415a</string>
	<key>DATABASE_URL</key>
	<string>https://eshop-7e241-default-rtdb.firebaseio.com</string>
</dict>
</plist>